[submodule "src/units"]
	path = src/units
	url = git@github.com:menahemkrief/units.git
[submodule "src/planck_integral"]
	path = src/planck_integral
	url = git@github.com:menahemkrief/planck_integral.git
